.leftSide{
  margin: 56px auto auto 0;
  width:235px;
  height:600px;
  background-color:#ffffff;
}

.rightSide{
  margin: 56px 0 auto auto;
  width:100%;
  height:600px;
  background-color:#f0f0f0;
}

.row{
  display:flex;
  flex-direction:row;
}
