.eachSongBlock{
  margin :15px 15px 15px 15px;
  background-color:#ffffff;
  display:flex;
  flex-direction:row;
  .item{
    &:first-child{
      flex-grow:1;
    }
    &:last-child{
      flex-grow:3;
  }
}}

.songTitle{
  font-size:1.2rem;
  font-weight:normal;
  color:#303530;
}

.audio{
  height:30px;
  width:350px;
  margin:0 auto 0 1%;
}

.userName{
  font-size:0.9rem;
  font-weight:bold;
  margin:0 auto 0 2%;
  color:#303530;
}

.registerChannel{
  margin:25px auto auto 0;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#de0000;
  color:#ececec;
  border:none;
}

.stopRegisteringChannel{
  margin:25px auto auto 0;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#c0c0c0;
  color:#ececec;
  border:none;
}

.like:hover{
  background-color:#ffcc55;
}
