.row{
  display:flex;
  flex-direction:row;
}

.column{
  display:flex;
  flex-direction:column;
}

.eachSongBlock{
  margin :15px 15px 15px 0px;
  background-color:#ffffff;
  display:flex;
  flex-direction:row;
  .item{
    &:first-child{
      width:350px;
      background-color: #ffffff;
    }
    &:last-child{
      text-align:center;
  }
}}

.songTitle{
  font-size:1.2rem;
  font-weight:normal;
  color:#303530;
}

.audio{
  height:30px;
  width:340px;
  margin:0 auto 0 1%;
}

.userName{
  font-size:0.9rem;
  font-weight:bold;
  margin:0 auto 0 2%;
  color:#303530;
}

.registerChannel{
  margin:0px auto auto 10px;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#de0000;
  color:#ececec;
  border:none;
  cursor:pointer;
}

.stopRegisteringChannel{
  margin:0px auto auto 10px;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#c0c0c0;
  color:#ececec;
  border:none;
  cursor:pointer;
}

.like{
  cursor:pointer;
}

.like:hover{
  background-color:#ffcc55;
}

.linkToUploadSong{
  margin:0px auto auto 10px;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#00cc55;
  color:#303530;
  cursor:pointer;
}

.linkToEachUsersPage{
  margin:0px 0px auto auto;
  width:200px;
  height:30px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#eeeeee;
  color:#303530;
  border:none;
  cursor:pointer;
}

.linkToEachUsersPage:hover{
  background-color:#ffcc55;
}

.errorMessage{
  color:red;
  font-size:13px;
}

.deleteButton{
  margin:0px auto 0px 160px;
}
