.row{
  display:flex;
  flex-direction:row;
}

.column{
  display:flex;
  flex-direction:column;
}

.eachSongBlock{
  margin :15px 15px 15px 0px;
  background-color:#ffffff;
  display:flex;
  flex-direction:row;
  .item{
    &:first-child{
      width:350px;
      background-color: #ffffff;
    }
    &:last-child{
      text-align:center;
  }
}}

.songTitle{
  font-size:1.2rem;
  font-weight:normal;
  color:#303530;
}

.audio{
  height:30px;
  width:340px;
  margin:0 auto 0 1%;
}

.userName{
  font-size:0.9rem;
  font-weight:bold;
  margin:0 auto 0 2%;
  color:#303530;
}

.registerChannel{
  margin:0px auto auto 10px;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#de0000;
  color:#ececec;
  border:none;
  cursor:pointer;
}

.stopRegisteringChannel{
  margin:0px auto auto 10px;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#c0c0c0;
  color:#ececec;
  border:none;
  cursor:pointer;
}

.like{
  cursor:pointer;
}

.like:hover{
  background-color:#ffcc55;
}

.linkToUploadSong{
  margin:0px auto auto 10px;
  width:130px;
  height:40px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#00cc55;
  color:#303530;
  cursor:pointer;
}

.linkToEachUsersPage{
  margin:0px auto auto 10px;
  width:200px;
  height:30px;
  font-size:0.9rem;
  font-weight:bold;
  background-color:#eeeeee;
  color:#303530;
  border:none;
  cursor:pointer;
}

.linkToEachUsersPage:hover{
  background-color:#ffcc55;
}

.errorMessage{
  color:red;
  font-size:13px;
}

.deleteButton{
  height:25px;
  width:30px;
  margin:0 0 0 0 ;
  cursor:pointer;
  border-width:thin;
  font-size:18px;
}

.deleteButton:hover{
  background-color:#cccccc;
}

.editPageButton{
  height:25px;
  width:30px;
  margin:0 0 0 0;
  cursor:pointer;
  border-width:thin;
  font-size:18px;
}

.editPageButton:hover{
  background-color:#cccccc;
}

.overlay{
  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.insideOverlay{
  z-index:2;
  width:320px;
  padding: 1em;
  background:#ffffff;
}

.nullSpace{
  width:95%;
}

.closeIcon{
  display:flex;
  justify-content:flex-end;
  cursor:pointer;
}

.textLabel{
  display:flex;
  justify-content: center;
  align-items:center;
  margin:10px 0px 10px 10px;
  height:16px;
  width:120px;
  font-size:16px;
  color:#000000;
}

.songTitle{
  height:20px;
  width:300px;
  font-size:16px;
  margin: 5px 5px 5px 5px;
}

.radio{
  margin:5px 5px 5px 5px;
  background-color:#aa88ff;
}

.textRadio{
  margin-top:6px;
}

.select{
  width:150px;
  margin:5px 5px 5px 5px;
}

.tag{
  height:20px;
  width:300px;
  font-size:16px;
  margin:5px 5px 5px 5px;
}

.audioUpload{
  margin:5px 5px 5px 5px;
}

.button{
  height:36px;
  width:310px;
  margin:5px 5px 5px 5px;
  cursor:pointer;
  border-width:thin;
  background-color:#00cc55;
}

.button:hover{
  background-color:#00aa33;
}

.buttoon{
  height:28px;
  cursor:pointer;
}

.errorMessage{
  color:red;
  font-size:13px;
  display:flex;
  justify-content: center;
  align-items:center;
}
