{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
  Goodby! See you again! {{ username }} !
  <br> This is a test2 page

  <div>
      {% for item in object_list %}
      <p class="alert alert-dark post-list" role="alert">
          <b>Song Title</b> : {{item.song_title}}
          <br><b>Artist</b> : {{istem.artist_name}}
          <br><b>Genre</b> : {{item.genre}}
          <br><b>Tag</b> : {{item.tag}}
          <br><b>audio_path</b> : {{item.audio_file}}
          <br><b>Song_ID</b> : {{item.song_id}}
          <br><b>User_ID</b> : {{item.user_id}}
          <!-- 'item.audio_file'だとerror , 'item.audio_file.url'でno error! -->
          <br><b>Audio</b> : <audio class="audio-control" src='{{item.audio_file.url}}' controls></audio>
          <br><input class="btn btn-sm btn-info" type="submit" value="Delete">
      </p>
      {% endfor %}
  </div>

</div>
{% endblock header  %}

{% block content %}
{% endblock content %}
