{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="command-form">
  <a class="btn btn-primary" href="#" role="button">detail</a>
  <button class="btn btn-primary" type="submit">detail</button>
  <a class="btn btn-success" href="#" role="button">detail</a>
  <input class="btn btn-danger" type="reset" value="Delete All">
</div>

<div>
  this is a detail view page
  {% for item in object_list %}
  <p class = 'aleart alert-dark post-list' role='alert'>
    <b>Song Title</b> : {{item.song_title}}
    <br><b>Artist</b> : {{item.artist_name}}
    <br><b>Audio</b> : <audio class ='audio-control' src = '{{item.audio_file.url}}' controls></audio>
  </p>
  {% endfor %}

</div>
{% endblock header  %}

{% block content %}
    <button class="btn btn-primary back-to-top" >Top</button>
{% endblock content %}
