.row{
  display:flex;
  flex-direction:row;
}

.icon{
  width:40px;
  height:50px;
  background-color:#303530;
  color:#ffffff;
  cursor:pointer;
  border-width:thin;
}

.headerText{
  margin:auto auto auto 0;
  font-size:15px;
  a{
    color: #ffffff;
    font-size:1.2rem;
    line-height:56px;
    padding-left:1rem;
    text-decoration:none;
  }
}

.header{
  height:50px;
  display: flex;
  flex-direction: row;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  background-color: #303530;
  color:#ffffff;
  font-weight:bold;
}

.userInfo{
  position:fixed;
  right:0;
  top:0;
  width:150px;
}
